src/Greenshot.Plugin.Confluence/Web References/confluence/confluenceservice-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://confluence/rpc/soap-axis/confluenceservice-v1"
	xmlns:intf="https://confluence/rpc/soap-axis/confluenceservice-v1"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://rpc.confluence.atlassian.com"
	xmlns:tns2="http://beans.soap.rpc.confluence.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.2.1 Built on Jun 14, 2005 (09:15:57 
		EDT) -->
	<wsdl:types>
		<schema targetNamespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://beans.soap.rpc.confluence.atlassian.com" />
			<import namespace="http://rpc.confluence.atlassian.com" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_string">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteSearchResult">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteSearchResult[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemotePageSummary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemotePageSummary[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteAttachment">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteAttachment[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteContentPermission">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteContentPermission[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteContentPermissionSet">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteContentPermissionSet[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteComment">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteComment[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteLabel">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteLabel[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteSpaceSummary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteSpaceSummary[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteSpaceGroup">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteSpaceGroup[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteContentSummary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteContentSummary[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteSpace">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteSpace[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemotePageHistory">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemotePageHistory[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteUser">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteUser[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteBlogEntrySummary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteBlogEntrySummary[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemoteNodeStatus">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteNodeStatus[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns2_RemotePermission">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemotePermission[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema targetNamespace="http://rpc.confluence.atlassian.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://beans.soap.rpc.confluence.atlassian.com" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="https://confluence/rpc/soap-axis/confluenceservice-v1" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="RemoteException">
				<sequence />
			</complexType>
			<complexType name="InvalidSessionException">
				<complexContent>
					<extension base="tns1:RemoteException">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="AuthenticationFailedException">
				<complexContent>
					<extension base="tns1:RemoteException">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="AlreadyExistsException">
				<complexContent>
					<extension base="tns1:RemoteException">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="VersionMismatchException">
				<complexContent>
					<extension base="tns1:RemoteException">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="NotPermittedException">
				<complexContent>
					<extension base="tns1:RemoteException">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema targetNamespace="http://beans.soap.rpc.confluence.atlassian.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://rpc.confluence.atlassian.com" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="https://confluence/rpc/soap-axis/confluenceservice-v1" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="RemoteSearchResult">
				<sequence>
					<element name="excerpt" nillable="true" type="xsd:string" />
					<element name="id" type="xsd:long" />
					<element name="title" nillable="true" type="xsd:string" />
					<element name="type" nillable="true" type="xsd:string" />
					<element name="url" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="RemoteSpaceSummary">
				<sequence>
					<element name="key" nillable="true" type="xsd:string" />
					<element name="name" nillable="true" type="xsd:string" />
					<element name="type" nillable="true" type="xsd:string" />
					<element name="url" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="RemoteSpace">
				<complexContent>
					<extension base="tns2:RemoteSpaceSummary">
						<sequence>
							<element name="description" nillable="true" type="xsd:string" />
							<element name="homePage" type="xsd:long" />
							<element name="spaceGroup" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="RemoteServerInfo">
				<sequence>
					<element name="baseUrl" nillable="true" type="xsd:string" />
					<element name="buildId" nillable="true" type="xsd:string" />
					<element name="developmentBuild" type="xsd:boolean" />
					<element name="majorVersion" type="xsd:int" />
					<element name="minorVersion" type="xsd:int" />
					<element name="patchLevel" type="xsd:int" />
				</sequence>
			</complexType>
			<complexType abstract="true" name="AbstractRemotePageSummary">
				<sequence>
					<element name="id" type="xsd:long" />
					<element name="permissions" type="xsd:int" />
					<element name="space" nillable="true" type="xsd:string" />
					<element name="title" nillable="true" type="xsd:string" />
					<element name="url" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="RemotePageSummary">
				<complexContent>
					<extension base="tns2:AbstractRemotePageSummary">
						<sequence>
							<element name="parentId" type="xsd:long" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="RemoteUser">
				<sequence>
					<element name="email" nillable="true" type="xsd:string" />
					<element name="fullname" nillable="true" type="xsd:string" />
					<element name="name" nillable="true" type="xsd:string" />
					<element name="url" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="RemotePage">
				<complexContent>
					<extension base="tns2:RemotePageSummary">
						<sequence>
							<element name="content" nillable="true" type="xsd:string" />
							<element name="contentStatus" nillable="true" type="xsd:string" />
							<element name="created" nillable="true" type="xsd:dateTime" />
							<element name="creator" nillable="true" type="xsd:string" />
							<element name="current" type="xsd:boolean" />
							<element name="homePage" type="xsd:boolean" />
							<element name="modified" nillable="true" type="xsd:dateTime" />
							<element name="modifier" nillable="true" type="xsd:string" />
							<element name="version" type="xsd:int" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="RemoteAttachment">
				<sequence>
					<element name="comment" nillable="true" type="xsd:string" />
					<element name="contentType" nillable="true" type="xsd:string" />
					<element name="created" nillable="true" type="xsd:dateTime" />
					<element name="creator" nillable="true" type="xsd:string" />
					<element name="fileName" nillable="true" type="xsd:string" />
					<element name="fileSize" type="xsd:long" />
					<element name="id" type="xsd:long" />
					<element name="pageId" type="xsd:long" />
					<element name="title" nillable="true" type="xsd:string" />
					<element name="url" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://beans.soap.rpc.confluence.atlassian.com" />
			<import namespace="http://rpc.confluence.atlassian.com" />
			<import namespace="https://confluence/rpc/soap-axis/confluenceservice-v1" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="mapItem">
				<sequence>
					<element name="key" nillable="true" type="xsd:anyType" />
					<element name="value" nillable="true" type="xsd:anyType" />
				</sequence>
			</complexType>
			<complexType name="Map">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="apachesoap:mapItem" />
				</sequence>
			</complexType>
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getSpacesRequest">
		<wsdl:part name="in0" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getSpaceResponse">
		<wsdl:part name="getSpaceReturn" type="tns2:RemoteSpace" />
	</wsdl:message>
	<wsdl:message name="searchResponse1">
		<wsdl:part name="searchReturn" type="impl:ArrayOf_tns2_RemoteSearchResult" />
	</wsdl:message>
	<wsdl:message name="getPageResponse1">
		<wsdl:part name="getPageReturn" type="tns2:RemotePage" />
	</wsdl:message>
	<wsdl:message name="getPagesResponse">
		<wsdl:part name="getPagesReturn" type="impl:ArrayOf_tns2_RemotePageSummary" />
	</wsdl:message>
	<wsdl:message name="logoutResponse">
		<wsdl:part name="logoutReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="NotPermittedException">
		<wsdl:part name="fault" type="tns1:NotPermittedException" />
	</wsdl:message>
	<wsdl:message name="getChildrenRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="addAttachmentResponse1">
		<wsdl:part name="addAttachmentReturn" type="tns2:RemoteAttachment" />
	</wsdl:message>
	<wsdl:message name="getPageRequest1">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="searchRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:string" />
		<wsdl:part name="in2" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getPagesRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getPageRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:string" />
		<wsdl:part name="in2" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part name="getUserReturn" type="tns2:RemoteUser" />
	</wsdl:message>
	<wsdl:message name="getSpaceRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="addAttachmentResponse">
		<wsdl:part name="addAttachmentReturn" type="tns2:RemoteAttachment" />
	</wsdl:message>
	<wsdl:message name="getChildrenResponse">
		<wsdl:part name="getChildrenReturn" type="impl:ArrayOf_tns2_RemotePageSummary" />
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="searchReturn" type="impl:ArrayOf_tns2_RemoteSearchResult" />
	</wsdl:message>
	<wsdl:message name="AuthenticationFailedException">
		<wsdl:part name="fault" type="tns1:AuthenticationFailedException" />
	</wsdl:message>
	<wsdl:message name="logoutRequest">
		<wsdl:part name="in0" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getPageResponse">
		<wsdl:part name="getPageReturn" type="tns2:RemotePage" />
	</wsdl:message>
	<wsdl:message name="getSpacesResponse">
		<wsdl:part name="getSpacesReturn" type="impl:ArrayOf_tns2_RemoteSpaceSummary" />
	</wsdl:message>
	<wsdl:message name="loginRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="RemoteException">
		<wsdl:part name="fault" type="tns1:RemoteException" />
	</wsdl:message>
	<wsdl:message name="addAttachmentRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:long" />
		<wsdl:part name="in2" type="tns2:RemoteAttachment" />
		<wsdl:part name="in3" type="xsd:base64Binary" />
	</wsdl:message>
	<wsdl:message name="addAttachmentRequest1">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="tns2:RemoteAttachment" />
		<wsdl:part name="in2" type="xsd:base64Binary" />
	</wsdl:message>
	<wsdl:message name="InvalidSessionException">
		<wsdl:part name="fault" type="tns1:InvalidSessionException" />
	</wsdl:message>
	<wsdl:message name="AlreadyExistsException">
		<wsdl:part name="fault" type="tns1:AlreadyExistsException" />
	</wsdl:message>
	<wsdl:message name="VersionMismatchException">
		<wsdl:part name="fault" type="tns1:VersionMismatchException" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="loginReturn" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="searchRequest1">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:string" />
		<wsdl:part name="in2" type="apachesoap:Map" />
		<wsdl:part name="in3" type="xsd:int" />
	</wsdl:message>
	<wsdl:portType name="ConfluenceSoapService">
		<wsdl:operation name="search" parameterOrder="in0 in1 in2">
			<wsdl:input message="impl:searchRequest" name="searchRequest" />
			<wsdl:output message="impl:searchResponse" name="searchResponse" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="getSpace" parameterOrder="in0 in1">
			<wsdl:input message="impl:getSpaceRequest" name="getSpaceRequest" />
			<wsdl:output message="impl:getSpaceResponse" name="getSpaceResponse" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="getChildren" parameterOrder="in0 in1">
			<wsdl:input message="impl:getChildrenRequest" name="getChildrenRequest" />
			<wsdl:output message="impl:getChildrenResponse" name="getChildrenResponse" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="login" parameterOrder="in0 in1">
			<wsdl:input message="impl:loginRequest" name="loginRequest" />
			<wsdl:output message="impl:loginResponse" name="loginResponse" />
			<wsdl:fault message="impl:AuthenticationFailedException"
				name="AuthenticationFailedException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="getPage" parameterOrder="in0 in1 in2">
			<wsdl:input message="impl:getPageRequest" name="getPageRequest" />
			<wsdl:output message="impl:getPageResponse" name="getPageResponse" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="getPage" parameterOrder="in0 in1">
			<wsdl:input message="impl:getPageRequest1" name="getPageRequest1" />
			<wsdl:output message="impl:getPageResponse1" name="getPageResponse1" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="logout" parameterOrder="in0">
			<wsdl:input message="impl:logoutRequest" name="logoutRequest" />
			<wsdl:output message="impl:logoutResponse" name="logoutResponse" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="addAttachment" parameterOrder="in0 in1 in2 in3">
			<wsdl:input message="impl:addAttachmentRequest" name="addAttachmentRequest" />
			<wsdl:output message="impl:addAttachmentResponse" name="addAttachmentResponse" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="addAttachment" parameterOrder="in0 in1 in2">
			<wsdl:input message="impl:addAttachmentRequest1" name="addAttachmentRequest1" />
			<wsdl:output message="impl:addAttachmentResponse1" name="addAttachmentResponse1" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="getSpaces" parameterOrder="in0">
			<wsdl:input message="impl:getSpacesRequest" name="getSpacesRequest" />
			<wsdl:output message="impl:getSpacesResponse" name="getSpacesResponse" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
		<wsdl:operation name="getPages" parameterOrder="in0 in1">
			<wsdl:input message="impl:getPagesRequest" name="getPagesRequest" />
			<wsdl:output message="impl:getPagesResponse" name="getPagesResponse" />
			<wsdl:fault message="impl:InvalidSessionException" name="InvalidSessionException" />
			<wsdl:fault message="impl:RemoteException" name="RemoteException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="confluenceservice-v1SoapBinding" type="impl:ConfluenceSoapService">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="search">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="searchRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="searchResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="searchRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="searchResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSpace">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getSpaceRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getSpaceResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getChildren">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getChildrenRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getChildrenResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="loginRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFailedException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="AuthenticationFailedException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPage">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getPageRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getPageResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPage">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getPageRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getPageResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="logoutRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="logoutResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addAttachment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="addAttachmentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="addAttachmentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addAttachment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="addAttachmentRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="addAttachmentResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSpaces">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getSpacesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getSpacesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPages">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getPagesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://soap.rpc.confluence.atlassian.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getPagesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="InvalidSessionException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="InvalidSessionException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="RemoteException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					name="RemoteException" namespace="https://confluence/rpc/soap-axis/confluenceservice-v1"
					use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConfluenceSoapServiceService">
		<wsdl:port binding="impl:confluenceservice-v1SoapBinding"
			name="confluenceservice-v1">
			<wsdlsoap:address
				location="https://confluence/rpc/soap-axis/confluenceservice-v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
